/*index.html and overall css*/
body{
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    text-align: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
}

header img{
    margin-top: 13px;
    width: 176px;
    height: 43px;
}

.main_body{
    max-width: 1051px;
    margin-left: auto;
    margin-right: auto;
}

.no_quizzes{
    background-color: #FAFAFA;
    max-width: 1051px;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.no_quizzes p{
    width: 250px;
    height: 107px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    color: #B9B9B9;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.no_quizzes button{
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 75px;
    background-color: #FAFAFA;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    cursor: pointer;
}

.hidden{
    display: none;
}

.created_quizzes_header{
    display: flex;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 10px;
}

.premade_quizzes_header{
    margin-top: 48px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.premade_quizzes{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.created_quizzes{
    display: flex;
    gap: 15px;
}

.created_quizzes_header p,
.premade_quizzes_header p{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.add_icon{
    width: 31px;
    height: 30px;
    margin-left: 17px;
    cursor: pointer;
}


.quizz_box{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    
}

.quizz_box span{
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #FFFFFF;
    z-index: 2;
}

.quizz-pic{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
}

.gradient{
    position: absolute;
    background-image: linear-gradient(to top , black, transparent);
    z-index: 1;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

/*create_quiz html*/
.create_body{
    display: block;
}

.first_screen,
.second_screen,
.third_screen,
.finish_screen{
    margin-top: 86px;
    max-width: 1051px;
    margin-left: auto;
    margin-right: auto;
}

.first_screen p{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 27px;
}

.input_container_first{
    background-color: black;
    display: inline-block;
    width: 600px;
    height: 256px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding-top: 21px;
}

.quizz_input{
    width: 564px;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 19px;
}

.quizz_url,
.quizz_questions,
.quizz_level,
.level_percentage,
.level_url,
.level_description{
    margin-top: 9px;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder{
    color: #BABABA;
    font-style: italic;
}

input:focus{
    color:  #000000;
    outline: none;
}

input[type="text"] {
    padding-left: 20px;
}

.first_screen button,
.second_screen button,
.third_screen button{
    margin-top: 85px;
    margin-bottom: 50px;
    width: 370px;
    height: 54px;
    color: #FFF5F4;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.second_screen p,
.third_screen p,
.finish_screen p{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 10px;
}

.input_container_question{
    background-color: black;
    display: inline-block;
    width: 600px;
    max-height: 825px;
    min-height: 74px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    text-align: left;
    padding-left: 17px;
    margin-top: 24px;
}

.input_container_question span{
    font-weight: 700;
    font-size: 20px;
    display: flex;
    margin-bottom: 14px;
    color: #000000;
    margin-top: 28px;
}

.quizz_background,
.quizz_img{
    margin-top: 14px;
}

.second,
.third{
    margin-top: 32px;
}

.wrap_container{
    padding-bottom: 24px;
}

.hidden_container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
}

.hidden_container img{
    width: 26px;
    height: 23px;
    padding-top: 14px;
    margin-right: 20px;
    cursor: pointer;
}

.finish_screen span{
    color: #818181;
    font-weight: 400;
    font-size: 21px;
    cursor: pointer;
    padding-bottom: 30px;
}

.finish_box{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 5px;
    width: 500px;
    height: 266px;
    position: relative;
}

.finish_box img{
    width: 500px;
    height: 266px;
    margin-top: 46px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 5px;
}

.finish_box span{
    font-weight: 400;
    font-size: 23px;
    line-height: 22px;
    position: absolute;
    bottom: -20px;
    left: 16px;
    color: #FFFFFF;
    cursor: default;
}

.finish_screen button{
    margin-top: 85px;
    margin-bottom: 19px;
    width: 221px;
    height: 44px;
    color: #FFF5F4;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

/*answer_quiz html*/
.shader{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
    z-index: 1;
    position:absolute;
    width: 100%;
    height: 100%;

}

.quiz_top{
    width: 100%;
    height: 227px;
    overflow: hidden;
    display: flex;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz_top img{
    width: 100%;
    height: 227px; 
    position: absolute;
    object-fit: cover;
}


.quiz_top p{
    position: absolute;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question_container{

    margin-left: auto;
    margin-right: auto;
    width: 759px;
    max-height: 676px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
}

.question_divisor{
    background-color: pink;
    display: flex; 
    flex-direction: column;
}


.question_header{
    width: 688.16px;
    height: 137.99px;
    background-color: #434CA0;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20.16px;
    margin-top: 27.91px;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.question{
    display:flex;
    flex-direction: column;
}
.answers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.answers .question_answer{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    cursor: pointer;
    width: 48%;
}

.answers img{
    width: 20.55em;
    height: 175px;
}

.imgOpacity{
    opacity: 0.3;
}

.answers p{
    display:flex;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-top: 7.75px;
    cursor: pointer;
}
.question_answer.incorrect p,
.question_answer.incorrect.hidden.selected p{
    color: #FF4B4B;
}

.question_answer.correct p,
.question_answer.correct.hidden.selected p{
    color: #009C22;
}

.question_answer.correct.hidden p,
.question_answer.incorrect.hidden p{
    color: black;

}


.result_container{
    margin-left: auto;
    margin-right: auto;
    width: 759px;
    max-height: 676px;
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.result_header{
    height: 99px;
    width: 727px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}

.result_header p{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}

.result_body{
    width: 727px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-bottom: 22px;
}

.result_body img{
    width: 364px;
    height: 273px;
    margin-right: 21px;
}

.result_body p{
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
    text-align: left;
    letter-spacing: 0.03em
}

.restart_btn{
    margin-top: 85px;
    margin-bottom: 19px;
    width: 221px;
    height: 44px;
    color: #FFF5F4;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.home_btn{
    color: #818181;
    font-weight: 400;
    font-size: 21px;
    cursor: pointer;
    padding-bottom: 50px;
}

.divider{
background-color: #FFFFFF;
margin-bottom: 48px;
}